Flask
feedparser
Pillow
polyline
openai
Flask-Cors
requests
openrouteservice
setuptools
transformers
torch
torchvision
sentencepiece
gTTS
SpeechRecognition
numpy
opencv-python
imageai
vosk
langdetect
python-dotenv
opencage
